ENVIRONMENT=development
LOG_LEVEL=DEBUG

API_PORT=8000
API_ADDRESS=0.0.0.0

MODEL_NAME=google/flan-t5-large
EMBEDDING_MODEL=sentence-transformers/all-mpnet-base-v2

DATA_PATH=data
FAISS_CACHE_DIR=faiss_index

CHUNK_SIZE=500
CHUNK_OVERLAP=100
